Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnk
.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.AppleDB
.AppleDesktop
.apdisk
.firebase
Network Trash Folder
Temporary Items
.vs
package-lock.json
public/.vs/

functions/node_modules/
functions/trend-buddy-firebase-adminsdk-ymhg3-c65d28fe1d.json
functions/config.mjs
functions/test/config.mjs
functions/package-lock.json
functions/ui-debug.log

public/package-lock.json
public/node_modules/.package-lock.json

firebase-debug.log
Ads.txt
/node_modules/